In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os
os.getcwd()

'C:\\Users\\billy'

In [4]:
os.listdir()

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.ms-ad',
 '.virtual_documents',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'anaconda_projects',
 'AppData',
 'Application Data',
 'Cleaned_Business_Info.xlsx',
 'Cleaned_Kenyan_Business_Directory_With_Emails.xlsx',
 'Cleaning_And_Merging_Datasets_For_ProgramIQ.ipynb',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'ERP Data Analysis for Decision-Making.ipynb',
 'expenses_data.csv',
 'Favorites',
 'IntelGraphicsProfiles',
 'inventory_data.csv',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{7a998733-b92a-11ed-af54-974f34586b9c}.TM.blf',
 'NTUSER.DAT{7a998733-b92a-11ed-af54-974f34586b9c}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{7a998733-b92a-11ed-af54-974f34586b9c}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'sales_data.csv',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'untitled.py',
 'Untitled1.ipynb',
 'Videos']

In [6]:
df = pd.read_excel('Cleaned_Business_Info.xlsx')

In [8]:
df.head()

,Business Category,Business Name,Business Contact,Business Location,Mobile Contact,Office Contact
0,Restaurant,Fine Blendz,2.547208e+11,"P.O.Box 3662-00200, Nairobi, Kenya",2.547208e+11,NaN
1,Restaurant,Grekkon Limited,2.547152e+11,"Pob 2023-00600 Nairobi, Kenya",2.547152e+11,NaN
2,Restaurant,CJ's Restaurant,2.547920e+11,"Koinange St, Nairobi, Kenya",2.547920e+11,NaN
3,Restaurant,Java South C,2.547271e+11,"Popo Road, Mugoya At Nakumatt, Nairobi, Kenya",2.547271e+11,NaN
4,Restaurant,Karel T-Lounge,2.547466e+11,"Limuru Road, Village Market, Nairobi, Kenya",2.547466e+11,NaN

In [9]:
df.shape

(500, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Business Category  500 non-null    object
 1   Business Name      500 non-null    object
 2   Business Contact   305 non-null    float64
 3   Business Location  500 non-null    object
 4   Mobile Contact     294 non-null    float64
 5   Office Contact     11 non-null     float64
dtypes: float64(3), object(3)
memory usage: 23.6+ KB

In [11]:
df.columns

Index(['Business Category', 'Business Name', 'Business Contact',
       'Business Location', 'Mobile Contact', 'Office Contact'],
      dtype='object')

In [13]:
df.head(30)

,Business Category,Business Name,Business Contact,Business Location,Mobile Contact,Office Contact
0,Restaurant,Fine Blendz,2.547208e+11,"P.O.Box 3662-00200, Nairobi, Kenya",2.547208e+11,NaN
1,Restaurant,Grekkon Limited,2.547152e+11,"Pob 2023-00600 Nairobi, Kenya",2.547152e+11,NaN
2,Restaurant,CJ's Restaurant,2.547920e+11,"Koinange St, Nairobi, Kenya",2.547920e+11,NaN
3,Restaurant,Java South C,2.547271e+11,"Popo Road, Mugoya At Nakumatt, Nairobi, Kenya",2.547271e+11,NaN
4,Restaurant,Karel T-Lounge,2.547466e+11,"Limuru Road, Village Market, Nairobi, Kenya",2.547466e+11,NaN
5,Restaurant,Pepino's Pizza,2.547283e+11,"Along Kimathi Street, Next To Old Mutual Build...",2.547283e+11,NaN
6,Restaurant,Shayona Swaminarayan Vegetarian,2.547179e+11,"Shivachi Road, 1St Parklands, Nairobi, Kenya",2.547179e+11,NaN
7,Restaurant,Java Koinange Street,2.547222e+11,"Uniafric House | Cbdkoinange Street, Nairobi, ...",2.547222e+11,NaN
8,Restaurant,La Cascina,2.547055e+11,"The Hub Karen, Dagoretti Road, Nairobi, Kenya",2.547055e+11,NaN
9,Restaurant,Chapati Clinic,2.547467e+11,"P.O. Box 39223 , Nairobi, Kenya",2.547467e+11,NaN
10,Restaurant,Fahari Gardens Hotel,NaN,"317-00202, Nairobi, Kenya",NaN,NaN
11,Restaurant,Hadassah Hotel,NaN,"Ralph Bunche Road, Upper Hill, Nairobi, Kenya",NaN,NaN
12,Restaurant,Red Apron,2.547487e+11,"P.O Box76632-00508 Nairobi, Kenya",2.547487e+11,NaN
13,Restaurant,Thermoteq Ltd,2.547227e+11,"28257, Nairobi, Kenya",2.547227e+11,NaN
14,Restaurant,Hilton Nairobi,NaN,"Mama Ngina St, Nairobi, 00100, Kenya",NaN,NaN
15,Restaurant,Barbeques Today Ltd,2.547163e+11,"18, Gilgil Industrial Park, Gilgil Road, Indus...",2.547163e+11,NaN
16,Restaurant,Kivulini at Wasini,2.547341e+11,"Wasini Luxury Suites And Hotels Apartment, Off...",2.547341e+11,NaN
17,Restaurant,Windsor Room Restaurant at Windsor Hotel,2.547112e+11,"Kigwa Road, Ridgeways Off Kiambu Road, Nairobi...",2.547112e+11,NaN
18,Restaurant,Big Knife,2.547107e+11,"Muindi Mbingu Street, Near Nakumatt Lifestyle,...",2.547107e+11,NaN
19,Restaurant,Cafe Kigwa at Safari Park Hotel,2.547222e+11,"Safari Park Hotel, Nairobi, Kenya",2.547222e+11,NaN
20,Beauty Services,Home Salon Services Nairobi,2.547142e+11,"Parklands Avenue Building, Room 13, Limuru Roa...",2.547142e+11,NaN
21,Makeup,Be.Amrow Makeup,2.547071e+11,"Nairobi, Kenya",2.547071e+11,NaN
22,Hair,Beldezza Hair,2.547998e+11,"Yaya Center - Nairobi, Kenya",2.547998e+11,NaN
23,Security,Intercity Security Ltd,NaN,"Intercity Plaza, Along Nairobi Northern Bypass...",NaN,NaN
24,Fitness,Samto Fitness Centre,NaN,"Kogo Star Plaza Opp.Deep West Club,Nairobi Wes...",NaN,NaN
25,Beauty Products,Glarmum Beauty and Cosmetics Wholesalers,2.547164e+11,"Otc Mall Nairobi , Kenya",2.547164e+11,NaN
26,Hair Clinic,Dr. Gee's Hair Clinic,2.547052e+11,"Astrol Gas Station Shops, Along Lenana Road, H...",2.547052e+11,NaN
27,Beauty Services,Fleek Nails Kenya,2.547349e+11,"00800 Westlands, Nairobi, Kenya",2.547349e+11,NaN
28,Beauty Services,Royal beauty parlour,2.547050e+11,"6632-30100, Eldoret, Kenya",2.547050e+11,NaN
29,Hair Salon,Fahari Hair Salon,2.547909e+11,"Kilifi Town, Kenya",2.547909e+11,NaN

In [14]:
df.columns

Index(['Business Category', 'Business Name', 'Business Contact',
       'Business Location', 'Mobile Contact', 'Office Contact'],
      dtype='object')

In [15]:
df.isnull().sum()

Business Category      0
Business Name          0
Business Contact     195
Business Location      0
Mobile Contact       206
Office Contact       489
dtype: int64

In [20]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(' ','_')
)
df.columns

Index(['_b_u_s_i_n_e_s_s___c_a_t_e_g_o_r_y_', '_b_u_s_i_n_e_s_s___n_a_m_e_',
       '_b_u_s_i_n_e_s_s___c_o_n_t_a_c_t_',
       '_b_u_s_i_n_e_s_s___l_o_c_a_t_i_o_n_', '_m_o_b_i_l_e___c_o_n_t_a_c_t_',
       '_o_f_f_i_c_e___c_o_n_t_a_c_t_'],
      dtype='object')

In [21]:
df.columns = (
    df.columns
      .str.replace(r'[^A-Za-z0-9]+', '_', regex=True)
      .str.strip('_')
      .str.lower()
)

df.columns

Index(['b_u_s_i_n_e_s_s_c_a_t_e_g_o_r_y', 'b_u_s_i_n_e_s_s_n_a_m_e',
       'b_u_s_i_n_e_s_s_c_o_n_t_a_c_t', 'b_u_s_i_n_e_s_s_l_o_c_a_t_i_o_n',
       'm_o_b_i_l_e_c_o_n_t_a_c_t', 'o_f_f_i_c_e_c_o_n_t_a_c_t'],
      dtype='object')

In [22]:
df.columns = [
    'business_category',
    'business_name',
    'business_contact',
    'business_location',
    'mobile_contact',
    'office_contact'
]

df.columns

Index(['business_category', 'business_name', 'business_contact',
       'business_location', 'mobile_contact', 'office_contact'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   business_category  500 non-null    object
 1   business_name      500 non-null    object
 2   business_contact   305 non-null    float64
 3   business_location  500 non-null    object
 4   mobile_contact     294 non-null    float64
 5   office_contact     11 non-null     float64
dtypes: float64(3), object(3)
memory usage: 23.6+ KB

In [24]:
df.isnull().sum()

business_category      0
business_name          0
business_contact     195
business_location      0
mobile_contact       206
office_contact       489
dtype: int64

In [25]:
df = df.drop(columns=['office_contact'])
df['primary_contact'] = df['mobile_contact'].fillna(df['business_contact'])
df = df.dropna(subset=['primary_contact'])

In [26]:
df.isnull().sum()

business_category     0
business_name         0
business_contact      0
business_location     0
mobile_contact       11
primary_contact       0
dtype: int64

In [27]:
df['business_category'].value_counts()

business_category
Restaurant                                                        17
Computer Equipment, Repairs & Maintenance in Kenya.               11
Printing and Printer Consumables suppliers in Nairobi, Kenya       9
Tours & Travel                                                     8
Hairstylists and Beauty Salon in Nairobi, kenya                    7
                                                                  ..
Computer Stationery Suppliers in Nairobi, Kenya                    1
Computers, Consumer Electronics & Smartphones Dealers in Kenya     1
ICT solutions and support services in Nairobi, Kenya               1
Computer Hardware & Maintenance Services in KenyaC                 1
Information & Communication Technology Services in Kenya           1
Name: count, Length: 208, dtype: int64

In [28]:
df_selected = df[
    df['business_category'].str.contains(
        'restaurant|food|cafe|eatery|salon|beauty|hairstylist|barber',
        case=False,
        na=False
    )
]

In [29]:
df_selected.shape
df_selected['business_category'].value_counts()

business_category
Restaurant                                                                                                                                17
Hairstylists and Beauty Salon in Nairobi, kenya                                                                                            7
Beauty Services                                                                                                                            5
Hair Salon Equipment and Supplies in Nairobi, Kenya                                                                                        4
Hairstylists and Beauty Salons in Nairobi, Kenya                                                                                           3
Hair Salon                                                                                                                                 1
Beauty Products                                                                                                                            1
Beauty                                                                                                                                     1
Beauty Parlour                                                                                                                             1
Salon                                                                                                                                      1
Beauty Education                                                                                                                           1
Food Products                                                                                                                              1
Barbershop                                                                                                                                 1
Barber                                                                                                                                     1
Industrial & Food-Grade Chemicals                                                                                                          1
Beauty products and cosmetics suppliers in Kenya                                                                                           1
Beauty Products, Cosmetics & Perfume Manufacturers in Nairobi, Kenya                                                                       1
Manufacturers of Personal Care, Beauty Products, Home Care Products and Food and Nutrition Products and Electrical Appliances in Kenya     1
Snack Food and Personal Care Product Manufacturers in Kenya                                                                                1
Hairstylists and Beauty Salons in Nairobi Kenya                                                                                            1
Hairstylists and Beauty Salon in Nairobi, Kenya                                                                                            1
Seafood Suppliers in Nairobi, Kenya                                                                                                        1
General Suppliers of Groceries and Dry Foods in Nairobi                                                                                    1
Name: count, dtype: int64

In [30]:
df_selected.isnull().sum()

business_category    0
business_name        0
business_contact     0
business_location    0
mobile_contact       1
primary_contact      0
dtype: int64

In [31]:
df_selected = df_selected.reset_index(drop=True)

In [32]:
df.isnull().sum()

business_category     0
business_name         0
business_contact      0
business_location     0
mobile_contact       11
primary_contact       0
dtype: int64

In [33]:
df_selected.isnull().sum()

business_category    0
business_name        0
business_contact     0
business_location    0
mobile_contact       1
primary_contact      0
dtype: int64

In [34]:
df_selected['business_category'].value_counts()

business_category
Restaurant                                                                                                                                17
Hairstylists and Beauty Salon in Nairobi, kenya                                                                                            7
Beauty Services                                                                                                                            5
Hair Salon Equipment and Supplies in Nairobi, Kenya                                                                                        4
Hairstylists and Beauty Salons in Nairobi, Kenya                                                                                           3
Hair Salon                                                                                                                                 1
Beauty Products                                                                                                                            1
Beauty                                                                                                                                     1
Beauty Parlour                                                                                                                             1
Salon                                                                                                                                      1
Beauty Education                                                                                                                           1
Food Products                                                                                                                              1
Barbershop                                                                                                                                 1
Barber                                                                                                                                     1
Industrial & Food-Grade Chemicals                                                                                                          1
Beauty products and cosmetics suppliers in Kenya                                                                                           1
Beauty Products, Cosmetics & Perfume Manufacturers in Nairobi, Kenya                                                                       1
Manufacturers of Personal Care, Beauty Products, Home Care Products and Food and Nutrition Products and Electrical Appliances in Kenya     1
Snack Food and Personal Care Product Manufacturers in Kenya                                                                                1
Hairstylists and Beauty Salons in Nairobi Kenya                                                                                            1
Hairstylists and Beauty Salon in Nairobi, Kenya                                                                                            1
Seafood Suppliers in Nairobi, Kenya                                                                                                        1
General Suppliers of Groceries and Dry Foods in Nairobi                                                                                    1
Name: count, dtype: int64

In [35]:
# Number of SMEs you want in final dataset
final_sample_size = 30

# Calculate proportional sampling
category_counts = df_selected['business_category'].value_counts()
category_proportions = category_counts / category_counts.sum()

# Sample from each category proportionally
df_final = df_selected.groupby('business_category', group_keys=False).apply(
    lambda x: x.sample(max(1, round(len(x) / len(df_selected) * final_sample_size)))
)

# Reset index
df_final = df_final.reset_index(drop=True)

C:\Users\billy\AppData\Local\Temp\ipykernel_18876\4228083819.py:9: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_final = df_selected.groupby('business_category', group_keys=False).apply(

In [38]:
df_final.to_excel("sme_interview_final_dataset.xlsx", index=False)

In [39]:
import os
os.getcwd()

'C:\\Users\\billy'

In [1]:
import pandas as pd

df = pd.read_excel("sme_interview_final_dataset.xlsx")

In [2]:
df.to_csv("sme_interview_final_dataset.csv", index=False, encoding="utf-8")

In [3]:
df = pd.read_csv("sme_interview_final_dataset.csv", encoding="utf-8")

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   business_category  38 non-null     object
 1   business_name      38 non-null     object
 2   business_contact   38 non-null     int64
 3   business_location  38 non-null     object
 4   mobile_contact     38 non-null     int64
 5   primary_contact    38 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.9+ KB

,business_category,business_name,business_contact,business_location,mobile_contact,primary_contact
0,Barber,Dignity Kinyozi,254735803903,P.O. Box 83965 Mombasa Kenya 80100,254735803903,254735803903
1,Barbershop,Channah Executive Barbershop,254720502580,"Kinoo Shopping Center, Kiambu, Kenya",254720502580,254720502580
2,Beauty,Miwop enterprises,254729835803,"27725-00506, Nairobi, Kenya",254729835803,254729835803
3,Beauty Education,Beauty Point College,254726856999,"Tom Mboya Street, P.O. Box: 8071-00200 Nairobi...",254726856999,254726856999
4,Beauty Parlour,Mwangiz Beauty Parlour - Eldoret,254724466937,"1912 -30100, Eldoret, Kenya",254724466937,254724466937

In [5]:
final_path = "sme_audit_cleaned_dataset.xlsx"

df.to_excel(final_path, index=False)

print("Final cleaned dataset saved:", final_path)

Final cleaned dataset saved: sme_audit_cleaned_dataset.xlsx